* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: 3.123rem auto 0 auto;
  text-align: center;
  color: white;
}

#survey-form {
  text-align: start;
  margin: 0 auto;
  /* display: inline-block; */
  padding: 1.1rem 2.5rem 2.5rem;
  background-color: #272745;
  margin-top: 2rem;
  border-radius: 5px;
  max-width: 560px;
}

.input-text {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  /* margin-top: 0.4rem;
  margin-bottom: 1.4rem; */
}

textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
}

.title {
  font-weight: lighter;
}

#description {
  color: rgba(225, 225, 225, 0.9);
  font-style: italic;
  font-size: 1.1rem;
  font-weight: lighter;
}

.p-title {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

#dropdown {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  /* margin-bottom: 1.4rem; */
}

.form-group {
  margin: 1.4rem 0;
}

.label-comment {
  margin-bottom: 5rem;
}

#submit {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #37af65;
  border: 1px solid #37af65;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.radio-btn {
  width: 1.2rem;
  height: 1.2rem;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  #survey-form {
    max-width: 700px;
  }
}
